.container {
  width: 1280px;
  margin: 0 auto;
  background-color: #cdcdcd;
}

.add-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #323232;
  height: 50px;

  h2 {
    color: white;
  }

  .add-input {
    border-radius: 6px;
    padding: 5px 8px;
    width: 400px;
  }
}

.main-container {
  padding: 20px 150px;
  min-height: 90vh;
}

.list-container {
  overflow: auto;
  max-height: 850px;
}

.list {
  min-height: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  line-height: 50px;

  .title {
    color: black;
    font-size: 20px;
    font-weight: 600;
  }

  .value {
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e6e4f5;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
  }
}

.item {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;

  .left {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;

    .checkbox-input {
      width: 18px;
      height: 18px;
    }

    .update-input {
      height: 17px;
      padding: 2px 4px;
    }
  }

  .right {
    border-radius: 50%;
    background: #dadada;
    width: 18px;
    height: 18px;
    line-height: 15px;
    text-align: center;
    color: #fff;
  }

  .right:hover {
    cursor: pointer;
  }
}

.disabled {
  color: #757575;
  background-color: #e6e6e6;
}

.moving {
  background: transparent;
  color: transparent;
  border: 1px dashed black;
  .left {
    display: none;
  }

  .right {
    background: transparent;
    color: transparent;
  }
}
